.predictions-container {
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.prediction-panel {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    transform: translateY(-100px);
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: rgb(156, 7, 7);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.412);
}

.readonly-field {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 10;
    position: absolute;
    width: calc(100% - 20px);
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.submit-button {
    background-color: rgb(156, 7, 7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    background-color: rgb(185, 67, 67);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.412);
}
