.explore-all-card {
    background-image: url("../../assets/frontend_assets/f1_background.jpg");
    background-repeat: no-repeat;
    padding: 15%;
    width: 100%;
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.explore-all {
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

.explore-all h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.explore-all-text {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}
