body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
  box-sizing: border-box;
  overflow-y: auto;
}

.button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid rgb(209, 3, 3);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #fff4f2;
}